<div class="container">
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Letter</th>
        <th scope="col">Frequency</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th></th>
        <td></td>
        <td></td>
        <td>
          <button
            class="btn btn-success"
          >
            <i class="fas fa-edit">update</i>
          </button>

          <button
            class="btn btn-danger"
          >
            <i class="fas fa-trash-alt">delete</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="getConfig()" class="btn btn-primary">data</button>
