<div class="index">
  <div class="container d-flex w-80 h-80 p-3 mt-5 mb-5 flex-column">
    <div class="container mt-5">
      <div class="card">
        <h5 class="card-header bg-info" style="color: white">
          <i class="far fa-bookmark"></i>
          <span style="color: white">Welcome to Dashboard</span>
        </h5>

        <div class="card flex-row">
          <div class="card-body">
            <button class="card-title btn btn-danger btn-lg btn-block">line</button>
            <button class="card-title btn btn-warning btn-lg btn-block">Pie</button>
            <button class="card-title btn btn-primary btn-lg btn-block">Bar</button>
            <button class="card-title btn btn-success btn-lg btn-block">Maps</button>
            <button class="card-title btn btn-secondary btn-lg btn-block">Admin</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>